<div *ngIf="paper">
    <button (click)="goToPaperList()">Back</button>
    <h2>{{ paper.title }}</h2>
    <p><strong>Authors:</strong> {{ paper.authors }}</p>
    <p><strong>Publication Year:</strong> {{ paper.publication_year }}</p>
    <p><strong>DOI:</strong> {{ paper.doi }}</p>
    <p><strong>URL:</strong> <a href="{{ paper.paper_url }}" target="_blank">{{ paper.paper_url }}</a></p>
    <p><strong>Abstract:</strong> {{ paper.abstract }}</p>
    <!--   
    <h3>References</h3>
    <ul *ngIf="citations.length > 0; else noCitations">
      <li *ngFor="let citation of citations">
        <a [routerLink]="['/papers', citation.id]">{{ citation.title }}</a>
      </li>
    </ul>
    <ng-template #noCitations>
      <p>No references found.</p>
    </ng-template>
  
    <h3>Cited By</h3>
    <ul *ngIf="citedBy.length > 0; else noCitedBy">
      <li *ngFor="let cited of citedBy">
        <a [routerLink]="['/papers', cited.id]">{{ cited.title }}</a>
      </li>
    </ul>
    <ng-template #noCitedBy>
      <p>No citations found.</p>
    </ng-template>
  </div> -->

    <ng-template *ngIf="!paper">
        <p>Loading...</p>
    </ng-template>