<button (click)="goToPaperList()" class="button">Back</button>
<div>

</div>
<div class="paper-detail-container">
  <!-- 論文のタイトル -->
  <h1 class="paper-title">{{ paper?.title }}</h1>

  <!-- 論文の基本情報 -->
  <div class="paper-info">
    <p><span class="paper-label">Authors:</span> {{ paper?.authors }}</p>
    <p><span class="paper-label">Publication Year:</span> {{ paper?.publication_year }}</p>
    <p><span class="paper-label">DOI:</span> {{ paper?.doi }}</p>
  </div>

  <!-- アブストラクトセクション -->
  <div class="abstract-section">
    <p><span class="paper-label">Abstract:</span></p>
    <p>{{ paper?.abstract }}</p>
  </div>

  <!-- 引用リスト -->
  <!-- <h2 class="references-title">References</h2>
  <ul class="references-list" *ngIf="citations.length > 0; else noCitations">
    <li *ngFor="let citation of citations">
      <a [routerLink]="['/papers', citation.id]">{{ citation.title }}</a>
    </li>
  </ul>
  <ng-template #noCitations>
    <p>No references found.</p>
  </ng-template> -->

  <!-- 被引用リスト -->
  <!-- <h2 class="cited-by-title">Cited By</h2>
  <ul class="cited-by-list" *ngIf="citedBy.length > 0; else noCitedBy">
    <li *ngFor="let cited of citedBy">
      <a [routerLink]="['/papers', cited.id]">{{ cited.title }}</a>
    </li>
  </ul>
  <ng-template #noCitedBy>
    <p>No citations found.</p>
  </ng-template> -->
  <button (click)="goToEditPaper()" class="button">論文情報を編集</button>
</div>