<button (click)="goToCreatePaper()" class="button">論文情報を追加</button>

<div *ngIf="papers.length > 0; else noData">
    <div class="paper-list-container">
        <div *ngFor="let paper of papers" class="paper-card">
            <a [routerLink]="['/papers', paper.id]" class="paper-title">{{ paper.title }}</a>
            <div class="paper-info">
                <p><strong>Authors:</strong> {{ paper.authors }}</p>
                <p><strong>Publication Year:</strong> {{ paper.publication_year }}</p>
                <p><strong>DOI:</strong> {{ paper.doi }}</p>
            </div>
        </div>
    </div>
</div>

<ng-template #noData>
    <p>No papers available.</p>
</ng-template>