/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

/* 共通ボタンスタイル */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* ホバースタイル */
.button:hover {
    background-color: #0056b3;
}

/* アクティブスタイル */
.button:active {
    transform: scale(0.98);
}

/* ボタンの無効スタイル */
.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// dialogの背景を不透明にする用
.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(4px);
    /* 背景をぼかしてスタイリッシュに */
}

// dialogの背景を不透明にする用
/* ダイアログのスタイル */
.mat-dialog-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}